@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Galada&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(248, 248, 248);
    color: rgb(0, 0, 0);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 5rem;
}
.social-media{
    display: flex;
    align-items: center;
    gap: 10px;
}
.social-media a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}
.social-media a:hover{
    color: grey;
}
.kontak{
    display: flex;
    justify-content: space-between;
    align-items: center;
}